In [1]:
import twstock
from twstock import stock
import sqlite3
import pandas as pd
from datetime import datetime
import os

In [2]:
strdate = datetime.now().strftime("%Y%m%d")

In [9]:
def save_stock(sid:str,strdate=None,enddate=None):
    stock_data = stock.Stock(sid)

    if strdate == None and enddate == None:
        strdate = datetime.now().strftime("%Y-%m-%d")
    elif enddate == None:
        year = int(strdate[0:4]) ; month = int(strdate[5:7])
        stock_data.fetch(year=year,month=month)
    else:
        syear = int(strdate[0:4]) ; smonth = int(strdate[5:7])
        eyear = int(enddate[0:4]) ; emonth = int(enddate[5:7])
        stock_data.fetch_from_to(syear=syear,smonth=smonth,eyear=eyear,emonth=emonth)

    dbdir = 'stocksdb'
    dbname = '%s/%s.db' % (dbdir,sid)
    try:
        os.mkdir(dbdir)
    except:        
        pass
    
    conn = sqlite3.connect(dbname,detect_types=sqlite3.PARSE_DECLTYPES)
    cursor = conn.cursor()
 
    # Create table
    cursor.execute('''CREATE TABLE IF NOT EXISTS stocks
        (date timestamp, capacity integer, turnover text, open real, high real, 
        low real, close real, change real, transactions integer)''')

    # Creat unique index
    cursor.execute('CREATE UNIQUE INDEX IF NOT EXISTS date_unique ON stocks (date)')

    # Insert a row of data
    for data in stock_data.data:
        cursor.execute("INSERT OR IGNORE INTO stocks VALUES (?,?,?,?,?,?,?,?,?)",data)

    # Save (commit) the changes
    conn.commit()
 
    # We can also close the connection if we are done with it.
    # Just be sure any changes have been committed or they will be lost.
    conn.close()

In [10]:
def read_stock(sid:str,strdate=None,enddate=None):
    if enddate == None:
        enddate = datetime.now().strftime("%Y-%m-%d")

    dbdir = 'stocksdb'
    dbname = '%s/%s.db' % (dbdir,sid)
    conn = sqlite3.connect(dbname,detect_types=sqlite3.PARSE_DECLTYPES)
    cursor = conn.cursor()

    # Read table
    sqlite_data = cursor.execute('''SELECT * FROM stocks WHERE date >= datetime(?) AND date <= datetime(?)''',(strdate,enddate))
    
    data_pd = pd.DataFrame(sqlite_data,columns=['date', 'capacity', 'turnover', 'open', 'high', 'low', 'close', 'change', 'transaction'])
    
    return data_pd

In [5]:
stocklist =['2345','2405','2499','2610']

In [11]:
save_stock('2345','2019-03-01','2019-05-01')

In [12]:
read_stock('2345','2019-03-01','2019-04-15')

,date,capacity,turnover,open,high,low,close,change,transaction
0,2019-03-04,8321438,907125003,109.5,110.5,107.5,108.0,-0.5,4104
1,2019-03-05,5556315,596805850,107.5,108.5,106.5,107.0,-1.0,3096
2,2019-03-06,4196699,444804594,107.0,108.0,105.0,105.5,-1.5,2623
3,2019-03-07,6431552,677748012,104.5,107.0,103.5,106.5,1.0,3538
4,2019-03-08,5929104,632057628,105.0,108.5,104.5,108.0,1.5,2621
5,2019-03-11,3144120,338818460,107.0,108.5,106.5,108.5,0.5,1845
6,2019-03-12,3276024,352246568,109.0,109.5,106.0,106.0,-2.5,1874
7,2019-03-13,4496400,487888200,107.0,109.5,106.0,109.0,3.0,2842
8,2019-03-14,3716451,406389971,110.5,111.0,107.5,108.0,-1.0,2513
9,2019-03-15,5756991,635825504,108.0,112.0,108.0,110.0,2.0,3699
10,2019-03-18,20463335,2382666980,111.5,119.0,110.5,118.5,8.5,10673
11,2019-03-19,14226145,1687738880,119.0,121.5,116.0,116.5,-2.0,7423
12,2019-03-20,9362446,1121662779,118.5,121.0,117.5,120.0,3.5,5614
13,2019-03-21,6372919,764729887,119.0,122.5,118.5,118.5,-1.5,3997
14,2019-03-22,11522352,1384536536,120.0,122.5,117.0,118.5,0.0,6193
15,2019-03-25,5252085,620104143,117.0,120.0,115.5,120.0,1.5,3222
16,2019-03-26,11652381,1433281720,121.0,126.0,120.0,121.0,1.0,7490
17,2019-03-27,4509759,542822580,121.5,122.0,119.0,121.0,0.0,2826
18,2019-03-28,4358207,533880754,121.0,124.0,120.5,122.5,1.5,2948
19,2019-03-29,8104830,1011152420,125.0,127.0,123.0,124.5,2.0,5260
20,2019-04-01,10256469,1313145213,125.5,130.5,124.5,130.5,6.0,6260
21,2019-04-02,9396099,1217444672,131.5,135.0,126.5,129.0,-1.5,6308
22,2019-04-03,4434213,566295977,129.0,129.5,126.0,129.5,0.5,3063
23,2019-04-08,3881268,505227908,130.0,132.0,128.0,129.0,-0.5,2711
24,2019-04-09,5499021,729350223,131.0,135.0,129.5,131.5,2.5,3749
25,2019-04-10,6322585,838451993,131.5,135.0,130.5,133.0,1.5,4148
26,2019-04-11,4873008,638858540,133.0,134.0,129.0,130.5,-2.5,3630
27,2019-04-12,4161974,543693568,130.0,133.0,129.0,133.0,2.5,3106
28,2019-04-15,5507977,732199987,135.5,137.5,130.5,131.0,-2.0,4081

# 收集所有的股號

In [13]:
def get_stockids():
    sids = []
    twse = twstock.twse
    for sid in twse.keys():
        if twse[sid].type == '股票':
            sids.append(sid)
    return sids

# 儲存最近日期之股市資料至sqlite

In [ ]:
sids = get_stockids()
for sid in sids:
    print('Downloading ...%5s'%(sid))
    try:
        save_stock(sid)
    except:
        print(twse[sid].name,sid,' Calculate failed')

Downloading ... 3321
Downloading ... 3023
Downloading ... 2467
Downloading ... 8463
Downloading ... 1413
Downloading ... 6168
Downloading ... 4916
Downloading ... 5264
Downloading ... 1810
Downloading ... 4545
Downloading ... 8341
Downloading ... 4915
Downloading ... 2401
Downloading ... 1103
Downloading ... 1521
Downloading ... 1210
Downloading ... 1907
Downloading ... 5288
Downloading ... 1709
Downloading ... 4976
Downloading ... 1418
Downloading ... 9910

# 儲存指定日期之股市資料至sqlite

In [ ]:
strdate='2018-08-01'
sids = get_stockids()
for sid in sids:
    print('Downloading ...%5s'%(sid))
    try:
        save_stock(sid,strdate)
    except:
        print(twse[sid].name,sid,' Calculate failed')